<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tài khoản</title>
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/gioi_thieu.css">
    <link rel="stylesheet" href="/assets/css/chi_tiet_ca_nhan/thong_tin_ca_nhan.css">

    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="/assets/css/layout/header.css">
    <link rel="stylesheet" href="/assets/css/layout/footer.css">

    <link rel="stylesheet" href="/assets/fonts/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-free-6.6.0-web/css/all.min.css">

    <script src="/assets/scripts/add_layout/add_layout.js" defer></script>
</head>
<body>
    <div id="header-placeholder"></div>
    <main style="margin-top: 65px;">
        <div class="thong_tin_ca_nhan bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 thong_tin_left pt-5">
                        <div class="tt_left_top bg-white">
                            <div class="tt_top_user d-flex">
                                <div class="user me-3">
                                    <i class="fa-solid fa-user mt-2 i_user"></i>
                                </div>
                                <div class="p mt-3">
                                    Nguyễn Văn A <br>
                                    0123456789
                                </div>
                                <span class="text-primary ms-5 mt-5" onclick="window.location.href='../chi_tiet_ca_nhan/thong_tin_ca_nhan.html'"  style="cursor: pointer;">xem hồ sơ</span>
                            </div>
                        </div>
                        <div class="tt_left_bottom bg-white mt-4 pt-3 pb-3">
                            <div class="tt_bottom_number d-flex mt-2">
                                <i class="me-3 fa-solid fa-key ms-3"></i>
                                <div class="p" onclick="window.location.href='../chi_tiet_ca_nhan/thay_doi_pass.html'">Thay đổi mật khẩu của bạn</div>
                            </div>
                            <div class="tt_bottom_number d-flex mt-2">
                                <i class="me-3 fa-solid fa-box ms-3"></i>
                                <div class="p" onclick="window.location.href='../chi_tiet_ca_nhan/don_hang_cua_toi.html'">Đơn hàng của tôi</div>
                            </div>
                            <div class="tt_bottom_number d-flex mt-2">
                                <i class="me-3 fa-solid fa-location-dot ms-3"></i>
                                <div class="p" onclick="window.location.href='../chi_tiet_ca_nhan/so_dia_chi.html'">Sổ địa chỉ nhận hàng</div>
                            </div>
                            <div class="tt_bottom_number d-flex mt-2" id="logout">
                                <i class="me-3 fa-solid fa-right-from-bracket ms-3"></i>
                                <div class="p">Đăng xuất</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 thong_tin_right ms-5 pt-5">
                        <div class="h4 fw-bold">Thay đổi mật khẩu của bạn</div>
                        <div class="tt_right_all bg-white justify-content-center">
                            <div class="tt_right_all_80 pt-4 text-center">
                                <div class="user">
                                    <i class="fa-solid fa-user i_user"></i>
                                </div>
                                <div class="form-floating mb-3 mt-3">
                                    <input type="text" class="form-control" id="pwd" placeholder="Nhập mật khẩu" name="password" required autocomplete="off"> 
                                    <label for="password">Nhập mật khẩu hiện tại<span class="req">*</span></label>
                                </div>
                                <p class="login_forgot" style="text-align: end; margin-top: -10px;"><a href="#" style="color: red;">Quên mật khẩu?</a></p>
                                <div class="line_gray mt-3 mb-3"></div>
                                <div class="form-floating mb-3 mt-3">
                                    <input type="text" class="form-control" id="pwd" placeholder="Nhập mật khẩu" name="password" required autocomplete="off"> 
                                    <label for="password">Nhập mật khẩu mới<span class="req">*</span></label>
                                </div>
                                <div class="form-floating mb-3 mt-3">
                                    <input type="text" class="form-control" id="pwd" placeholder="Nhập mật khẩu" name="password" required autocomplete="off"> 
                                    <label for="password">Xác nhận mật khẩu mới<span class="req">*</span></label>
                                </div>
                                <div class="button mt-4 text-white fw-bold">
                                    Lưu
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 90px;"></div>
        </div>
    </main>
    <div id="near-footer-placeholder"></div>
    <div id="footer-placeholder"></div>
</body>
</html>