* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /*cuộn mượt mà */
    font-family: Helvetica, Arial, sans-serif; /*set font chữ cho cả website , chữ không có chân*/
}

header {
    background-color: gray;
}

header i {
    font-size: 20px;
}

header .text{
    margin-top: 8px;
}

.sidenav-item:hover .sidenav-collapse {
    display: block;
    transition: all 0.5s ease;
}

.sidenav-item:hover a {
    transition: all 0.5s ease;
}

.sidenav-link:hover {
    background-color: #fcae18 !important;
}

#main-sidenav {
    width: 280px !important; /* Giữ width cố định */
  }
#main-sidenav.sidenav-collapsed {
    width: 280px !important; /* Khi thu gọn cũng giữ nguyên width */
  }

.text_green {
    color: #94b83d;
}

.bg_green {
    background-color: #94b83d;
}

.bg_yellow {
    background-color: #fcae18;
}

.style_18 {
    font-size: 18px;
}

header:hover {
    background-color: #94b83d !important;
}