
<header>
  <!-- Sidenav -->
  <nav id="main-sidenav" class="sidenav sidenav-md shadow-1" data-mdb-mode="side"
       data-mdb-hidden="false" style="width: 280px; background-color: black">
    <a class="ripple d-flex justify-content-center pt-4 pb-2" href="#!" data-mdb-ripple-color="primary">
      <img id="MDB-logo" src="/assets/images/logo/logo_shop.png" style="width: 100px" height="70px"
           alt="MDB Logo" draggable="false"/>
    </a>

    <hr class="hr">

    <ul class="sidenav-menu text-white mb-5">
      <li class="sidenav-item">
        <a class="sidenav-link text-white" href="/assets/html/admin/home.html">
          <i class="fas fa-tachometer-alt fa-fw me-3 "></i><span class="h5 text">Trang chủ</span></a>
      </li>
      <li class="sidenav-item pt-3">
        <span class="sidenav-subheading text-muted text-uppercase fw-bold" style="font-size: 15px; padding-bottom: 10px;">Quản lý</span>
      </li>
      <li class="sidenav-item mt-2">
        <a class="sidenav-link " href="/assets/html/admin/userManagement.html">
          <i class="fas fa-users fa-fw me-2"></i><span class="h5 text">Quản lý người dùng</span><i class="fas fa-chevron-down ms-3"></i></a>
        <ul class="sidenav-collapse">
          <li class="sidenav-item">
            <a class="sidenav-link h6" href="/assets/html/admin/userAddition.html" style="font-size: 16px;">Thêm người dùng</a>
          </li>
          <li class="sidenav-item">
            <a class="sidenav-link" href="/assets/html/admin/userManagement.html" style="font-size: 16px;">Danh sách người dùng</a>
          </li>
        </ul>
      </li>
      <li class="sidenav-item">
        <a class="sidenav-link " href="/admin/productManagement.html">
          <i class="fas fa-gift fa-fw me-2"></i><span class="h5 text">Quản lý sản phẩm</span> <i class="fas fa-chevron-down" style="margin-left: 35px;"></i></a>
        <ul class="sidenav-collapse ">
          <li class="sidenav-item">
            <a class="sidenav-link" href="/assets/html/admin/productAddition.html">Thêm sản phẩm</a>
          </li>
          <li class="sidenav-item"> 
            <a class="sidenav-link" href="/assets/html/admin/productManagement.html">Danh sách sản phẩm</a>
          </li>
        </ul>
      </li>
      <li class="sidenav-item">
        <a class="sidenav-link " href="/assets/html/admin/categoryManagement.html">
          <i class="fas fa-bars fa-fw me-2 "></i><span  class="h5 text">Quản lý danh mục</span><i class="fas fa-chevron-down" style="margin-left: 35px;"></i></a>
        <ul class="sidenav-collapse ">
          <li class="sidenav-item">
            <a class="sidenav-link" href="/assets/html/admin/categoryAddition.html">Thêm danh mục</a>
          </li>
          <li class="sidenav-item">
            <a class="sidenav-link" href="/assets/html/admin/categoryManagement.html">Danh sách danh mục</a>
          </li>
        </ul>
      </li>
      <li class="sidenav-item">
        <a class="sidenav-link" href="/assets/html/admin/reservationManagement.html">
          <i class="fas fa-cart-shopping fa-fw me-2 "></i><span class="h5 text">Quản lý đơn đặt hàng</span><i class="fas fa-chevron-down ms-1"></i></a>
        <ul class="sidenav-collapse ">
          <li class="sidenav-item">
            <a class="sidenav-link" href="/assets/html/admin/reservationAddition.html">Thêm đơn đặt hàng</a>
          </li>
          <li class="sidenav-item">
            <a class="sidenav-link" href="/admin/reservationManagement.html">Danh sách đơn đặt hàng</a>
          </li>
        </ul>
      </li>
      <li class="sidenav-item">
        <a class="sidenav-link" href="/admin/contactManagemet.html">
          <i class="fas fa-message fa-fw me-2 "></i><span class="h5 text">Quản lý trang liên hệ</span><i class="fas fa-chevron-down ms-2"></i></a>
        <ul class="sidenav-collapse ">
          <li class="sidenav-item">
            <a class="sidenav-link" href="/admin/contactManagemet.html">Danh sách liên hệ</a>
          </li>
        </ul>
      </li>
      <li class="sidenav-item">
        <a class="sidenav-link" href="/assets/html/admin/postManagement.html">
          <i class="fas fa-blog fa-fw me-2 "></i><span class="h5 text">Quản lý trang tin tức</span><i class="fas fa-chevron-down ms-2"></i></a>
        <ul class="sidenav-collapse ">
          <li class="sidenav-item">
            <a class="sidenav-link" href="/assets/html/admin/postAddition.html">Thêm bài viết</a>
          </li>
          <li class="sidenav-item">
            <a class="sidenav-link" href="/assets/html/admin/postManagement.html">Danh sách bài viết</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <!-- Sidenav -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-1 ms-4">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggler -->
      <button data-mdb-toggle="sidenav" data-mdb-target="#main-sidenav"
              class="btn shadow-1 p-0 me-3 d-block " aria-controls="#main-sidenav" aria-haspopup="true">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Search form -->
      <form class="d-none d-md-flex input-group w-auto my-auto">
        <input id="search-focus" autocomplete="off" type="search" class="form-control rounded"
               placeholder='Search (ctrl + alt to focus)' style="min-width: 225px"/>
        <span class="input-group-text border-0"><i class="fas fa-search text-secondary"></i></span>
      </form>

      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <!-- Avatar -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
             id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
             Admin
            <img src="/assets/images/news/news1.jpg" class="rounded-circle ms-2 me-4" height="40px" width="40px"
                 alt="Avatar"
                 loading="lazy"/>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/assets/html/admin/profile.html">Hồ sơ của tôi</a></li>
            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>