<div class="container-fuild bg-light pt-4">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3">
                <img src="/assets/images/footer/thuong_hieu.jpg" alt="Thương hiệu đảm bảo" style="border-radius: 20px;">
                <p class="mt-2" style="font-weight: bold;">Thương hiệu đảm bảo</p>
                <p style="margin-top: -15px;">Nhập khẩu, bảo hành chính hãng</p>
            </div>
            <div class="col-md-3">
                <img src="/assets/images/footer/doi_tra.jpg" alt="Đổi trả dễ dàng" style="border-radius: 20px;">
                <p class="mt-2" style="font-weight: bold;">Đổi trả dễ dàng</p>
                <p style="margin-top: -15px;">Theo chính sách đổi trả tại TVK Shop</p>
            </div>
            <div class="col-md-3">
                <img src="/assets/images/footer/chat_luong.jpg" alt="Sản phẩm chất lượng" style="border-radius: 20px;">
                <p class="mt-2" style="font-weight: bold;">Sản phẩm chất lượng</p>
                <p style="margin-top: -15px;">Đảm bảo an toàn cho vật nuôi cũng như người chăn nuôi</p>
            </div>
            <div class="col-md-3">
                <img src="/assets/images/footer/giao_hang.jpg" alt="Giao hàng tận nơi" style="border-radius: 20px;">
                <p class="mt-2" style="font-weight: bold;">Giao hàng tận nơi</p>
                <p style="margin-top: -15px;">Tại 63 tỉnh thành</p>
            </div>
        </div>
    </div>
</div>