* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /*cuộn mượt mà */
    font-family: Helvetica, Arial, sans-serif; /*set font chữ cho cả website , chữ không có chân*/
}

.ho_tro .background-section {
    position: relative;
    background-image: url('/assets/images/banner/banner_hotro.jpg');
    background-size: cover;
    background-position: center;
    height: 500px; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ho_tro .background-section h1 {
    color: transparent;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: bold;
    position: relative;
}

/* Add a transparent overlay effect */
.ho_tro .background-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust transparency */
    z-index: 0;
}

@supports(-webkit-text-stroke: 2px white) {
    .outline {
        color: transparent;
        -webkit-text-stroke: 2px white; /* Increased stroke width */
        text-shadow: none;
        font-size: 80px; /* Increased font size */
        font-weight: bold;
        letter-spacing: 5px;
    }
}

.ho_tro .number_lien_he {
    height: 45px;
    line-height: 45px;
}
.ho_tro .login_button_submit {
    width: 120px;
    height: 45px;
}
